---
layout: default
---
<header class="site-header">
  <div class="site-header-container">
    <img class="site-avatar" src="{{ "/img/profile_photo_circle.png" | prepend: site.baseurl }}?{{ site.time | date: '%s%N' }}">
    <span class="content">
      <span class="site-title">
        <span class="site-name">{{ site.author.name }}</span>
        <span class="site-nickname">({{ site.author.nickname }})</span>
        <span class="site-description">{{ site.description }}</span>
      </span>
      <div class="site-links">
        {% for item in site.links %}
          <a target="_blank" href="{{ item.url }}">
            <i class="{{ item.class }}"></i>
            <span class="link-text">{{ item.name }}</span>
          </a>
        {% endfor %}
      </div>
    </span>
  </div>
</header>
<section class="tools">
  <h1>{{site.tools.title}}</h1>
  <h3 class="sub-header">{{site.tools.description}}</h3>
  <div class="tool-list">
  {% for tool in site.tools.items %}
    <div class="tool">
      <a target="_blank" href="#">
        <img class="tool-image" src="{{tool.image}}" alt="{{tool.name}}">
        <span class="tool-text">{{ tool.name }}</span>
      </a>
    </div>
  {% endfor %}
  </div>
</section>
<div class="clearfix" />
<section id="timeline">
	<p class="leader">List of technologies and services that have helped me on the journey.</p>
	<div class="demo-card-wrapper">
  {% for service in site.services %}
		<div class="demo-card demo-card--step{{service.step}}">
			<div class="head">
				<div class="number-box">
					<span>{{service.year}}</span>
				</div>
			</div>
			<div class="body">
        {% for item in service.list %}
          <img src="{{item.image}}" alt="{{item.name}}">
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</section>
<section>
  <h1>My Perks</h1>
  <div class="tool-list">
  {% for perk in site.perks %}
    <div class="perk" style=" width:{{perk.width}};">
      <span>{{perk.name}}</span>
      <div class="perk-image">
        <img width={{perk.width}} src="{{perk.image}}" />
      </div>
    </div>
  {% endfor %}
  </div>
</section>

